<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Total Hours Available</th>
		
	</tr>
	<tr th:each="department : ${departments}">
		<td> <a th:href="@{/department/{id}/edit(id=${department.id})}" th:text="${department.id}"/></td>
		<td th:text="${department.name}"/>
		<td th:text="${department.totalHoursAvailable}"/>
		
	</tr>
  </table>
  
</body>
</html>