<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
<style>
.error {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}
</style>
 <table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Total Hours Available</th>
		
	</tr>
	<tr th:each="department : ${department}">
		<td> <a th:href="@{/department/{id}/edit(id=${department.id})}" th:text="${department.id}"/></td>
		<td th:text="${department.departmentName}"/>
		<td th:text="${department.totalHoursAvailable}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/department/{id}/edit(id=${department.id})}" th:object="${department}" method="post">
        <p>Name: <input type="text" th:field="*{departmentName}" /></p>
        <span th:errors="*{departmentName}" class="error"></span>
         <p>Total Hours Available: <input type="text" th:field="*{totalHoursAvailable}" /></p>
         <span th:errors="*{totalHoursAvailable}" class="error"></span>
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" /></p>
        
        
    </form>  
</body>
</html>