<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>

<style>
.error {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}
</style>
	<form action="#" th:action="@{/department/add}" th:object="${department}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <span th:errors="*{name}" class="error"></span>
        <p>Total Hours Available: <input type="text" th:field="*{totalHoursAvailable}" /></p>
        <span th:errors="*{totalHoursAvailable}" class="error"></span>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>  
</body>
</html>