<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="main">
			<div class="logo"></div>
			<div class="content">
				<h1 th:text="${title}"/>
				<a class="bacl-btn" href="index.html">&#10149; Back</a>
 <table>
	<tr>
		<th>ID</th>
		<th>Employee Name</th>
		<th>Employee No</th>
		<th>Department</th>
		<th>Employee Type</th>
		<th>Access Level</th>
		<th>Manager</th>
		<th>Total Annual Holiday Days</th>
		<th>Email</th>
		<th>Password</th>
		
	</tr>
	<tr th:each="employee : ${employees}">
		<td> <a th:href="@{/employee/{id}/edit(id=${employee.id})}" th:text="${employee.id}"/></td>
		<td th:text="${employee.name}"/>
		<td th:text="${employee.employeeNo}"/>
		<td th:text="${employee.department.name}"/>
		<td th:text="${employee.type}"/>
		<td><th:block th:each="role : ${employee.roles}">
                <span th:text="${role.name}">Dataset Field</span>
        </th:block>
		</td>
		<td th:text="${employee.manager.name}"/>
		<td th:text="${employee.totalAnnualHolidayDays}"/>
		<td th:text="${employee.email}"/>
		<td th:text="${employee.password}"/>
	</tr>
	
  </table>
  	</div>
		</div>

</body>
</html>