<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
		<th>ID</th>
		<th>Employee Name</th>
		<th>Employee No</th>
		<th>Department</th>
		<th>Employee Type</th>
		<th>Total Annual Holiday Days</th>
		<th>Email Address</th>
		<th>Password</th>
		
	</tr>
	<tr th:each="employee : ${employee}">
		<td> <a th:href="@{/employee/{id}/edit(id=${employee.id})}" th:text="${employee.id}"/></td>
			<td th:text="${employee.name}"/>
		<td th:text="${employee.employeeNo}"/>
		<td th:text="${employee.department.departmentName}"/>
		<td th:text="${employee.type}"/>
		<td th:text="${employee.totalAnnualHolidayDays}"/>
		<td th:text="${employee.email}"/>
		<td th:text="${employee.password}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/employee/{id}/edit(id=${employee.id})}" th:object="${employee}" method="post">
        <p>Name: <input type="text" th:field="*{Name}" /></p>
        <span th:errors="*{name}" class="error"></span>
        
                <p>Department:
	        <select th:field="*{department}">
				<option th:each="departmentFromLoop : ${departments}" th:value="${departmentFromLoop.id}" th:text="${departmentFromLoop.departmentName}"/>
			</select>
		</p>
		
		<p>EmployeeNo: <input type="text" th:field="*{EmployeeNo}" /></p>
		<span th:errors="*{employeeNo}" class="error"></span>
		
		<p>EmployeeType:
	        <select th:field="*{type}">
				<option th:each="EmployeeTypeFromLoop : ${EmployeeType}" th:value="${EmployeeTypeFromLoop}" th:text="${EmployeeTypeFromLoop}"/>
			</select>
		</p>
		
		<p>Total Annual Holiday Days: <input type="text" th:field="*{totalAnnualHolidayDays}" /></p>
		<span th:errors="*{totalAnnualHolidayDays}" class="error"></span>
		<p>Email Address: <input type="text" th:field="*{email}" /></p>
		<span th:errors="*{email}" class="error"></span>
          <p>Password: <input type="text" th:field="*{password}" /></p>
         <span th:errors="*{password}" class="error"></span>
        
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" 
        
   /></p>
        
        
        
    
        
        
    </form>  
</body>
</html>