<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Department</th>
		<th>EmployeeNo</th>
		<th>EmployeeType</th>
	</tr>
	<tr th:each="employee : ${employees}">
		<td> <a th:href="@{/employee/{id}/edit(id=${employee.id})}" th:text="${employee.id}"/></td>
		<td th:text="${employee.name}"/>
		<td th:text="${employee.department.departmentName}"/>
	</tr>
	
  </table>
  
</body>
</html>