<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/holiday/add}" th:object="${holiday}" method="post">
	  <p>Employee:
	        <select th:field="*{employee}">
				<option th:each="employeeFromLoop : ${employees}" th:value="${employeeFromLoop.id}" th:text="${EmployeeFromLoop.name}"/>
			</select>
		</p>
        <p>Day: <input type="text" th:field="*{day}" /></p>
        <p>HolidayType:
	        <select th:field="*{type}">
				<option th:each="HolidayTypeFromLoop : ${HolidayType}" th:value="${HolidayTypeFromLoop}" th:text="${HolidayTypeFromLoop}"/>
			</select>
		</p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>  
</body>
</html>
