<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
		<th>Day</th>
		<th>Full/Half Day</th>
		<th>Employee Name</th>
		<th>Edit Holiday</th>
		<th>Cancel Holiday</th>
		<th>Approoved By</th>
		<th>Approoved At</th>
	</tr>
	<tr th:each="holiday : ${holidays}">
		<td th:text="${holiday.day}"/>
		<td th:text="${holiday.type}"/>
		<td th:text="${holiday.employee.name}"/> 
		<td><a th:href="@{/holiday/{id}/edit(id=${holiday.id})}"><button type="button" name="edit" value="Edit">Edit</button></a></td>  
		<td><a th:href="@{/holiday/{id}/cancel(id=${holiday.id})}"><button type="button" name="cancel" value="Cancel">Cancel</button></a></td>  
		
		<td th:text="${holiday.activatedBy}"/> 
		<td th:text="${holiday.activatedAt}"/> 
	</tr>
	
  </table>

</body>
</html>