<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd", firstDay: 1 });
  } );
  </script>
</head>
<body>
 <table>
	<tr>
		<th>ID</th>
		<th>Day</th>
		<th>Full/Half Day</th>
		<th>Employee Name</th>
		
	</tr>
	<tr th:each="holiday : ${holiday}">
		<td> <a th:href="@{/holiday/{id}/edit(id=${holiday.id})}" th:text="${holiday.id}"/></td>
		<td th:text="${holiday.day}"/>
		<td th:text="${holiday.type}"/>
		<td th:text="${holiday.employee.name}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/holiday/{id}/edit(id=${holiday.id})}" th:object="${holiday}" method="post">
         <p>Employee:
	        <select th:field="*{employee}">
				<option th:each="employeeFromLoop : ${employees}" th:value="${employeeFromLoop.id}" th:text="${employeeFromLoop.name}"/>
			</select>
		</p>
       
        <p>Holiday Date: <input type="text" th:id="datepicker" th:field="*{day}" autocomplete="off" /></p>
        <span th:errors="*{day}" class="error"></span>
        
          <p>HolidayType:
	        <select th:field="*{type}">
				<option th:each="holidayTypeFromLoop : ${holidayType}" th:value="${holidayTypeFromLoop}" th:text="${holidayTypeFromLoop}"/>
			</select>
		</p>
        
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" /></p>
        
        
    </form>  
</body>
</html>