<!DOCTYPE html>
<html>

  <head>
    <title>Employee Management Systems</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  </head>

  <body>
	<div th:if="${userLevel}=='ROLE_ADMIN'" class="admin">
		<h2>Admin</h2>
		<a th:href="@{'view/test'}">View The test</a>
	</div>
	<div th:if="${userLevel}=='ROLE_ADMIN' OR ${userLevel}=='ROLE_MANAGER'" class="manager">
		<h2>Manager</h2>
		<a th:href="@{'holiday/requested'}">Outstanding holiday requests</a> 
	</div>
	<div class="user">
		<h2>My Views</h2>
		<a th:href="@{'holiday/my'}">My Holidays</a> 
	</div>

    <div id="menu">
      <div class="option">Holiday Planner</div>
      <div class="option">Training Matrix</div>
      <div class="option">Login</div>
      <div style="clear:both;"></div>
    </div>

    <div class="logo">
    
        </div>

  </body>

</html>
    

