<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
 <style>
.error {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}
</style>
	<tr>
		<th>ID</th>
		<th>Report Name</th>
		<th>Query</th>
		<th>Column Names</th>
		<th>Access Level</th>
		
	</tr>
	<tr th:each="report : ${report}">
		<td> <a th:href="@{/report/{id}/edit(id=${report.id})}" th:text="${report.id}"/></td>
		<td th:text="${report.name}"/>
		<td th:text="${report.query}"/>
		<td th:text="${report.columnNames}"/>
		<td th:text="${report.role.name}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/report/{id}/edit(id=${report.id})}" th:object="${report}" method="post">
        <p>Report Name: <input type="text" th:field="*{name}" /></p>
        <span th:errors="*{name}" class="error"></span>
         <p>Query: <input type="text" th:field="*{query}" /></p>
         <span th:errors="*{query}" class="error"></span>
          <p>Column names: <input type="text" th:field="*{columnNames}" /></p>
         <span th:errors="*{columnNames}" class="error"></span>
         <p>Access Level:
          <select th:field="*{role}">
				<option th:each="accessLevelFromLoop : ${accessLevel}" th:value="${accessLevelFromLoop.id}" th:text="${accessLevelFromLoop.name}"/>
				</select>
				</p>
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" /></p>
        
        
    </form>  
</body>
</html>