<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
  <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  
</head>
<body>


<div class="main">
			<div class="logo"></div>
			<div class="content">
				<h1 th:text="${title}"/>
				<a class="bacl-btn" href="/">&#10149; Back</a>
	 <table>		
	<tr>
		<th>ID</th>
		<th>Report Name</th>
		<th>Query</th>
		<th>Column Names</th>
		<th>Access Level</th>
		
	</tr>
	<tr th:each="report : ${report}">
		<td> <a th:href="@{/report/{id}/edit(id=${report.id})}" th:text="${report.id}"/></td>
		<td th:text="${report.name}"/>
		<td th:text="${report.query}"/>
		<td th:text="${report.columnNames}"/>
		<td th:text="${report.role.name}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/report/{id}/edit(id=${report.id})}" th:object="${report}" method="post">
        <p>Report Name: <input type="text" th:field="*{name}" /></p>
        <span th:errors="*{name}" class="error"></span>
         <p>Query: <input type="text" th:field="*{query}" /></p>
         <span th:errors="*{query}" class="error"></span>
         <p>Access Level:
          <select th:field="*{role}">
				<option th:each="accessLevelFromLoop : ${accessLevel}" th:value="${accessLevelFromLoop.id}" th:text="${accessLevelFromLoop.name}"/>
				</select>
				</p>
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" /></p>
     </form>  
   </div> 
   	  </div>  
	</body>
</html>