<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
  	<link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="main">
			<div class="logo"></div>
			<div class="content">
				<h1 th:text="${title}"/>
				<a class="bacl-btn" href="index.html">&#10149; Back</a>
				<form action="#" th:action="@{/training/add}" th:object="${training}" method="post" id="answerForm">
			        <p><label for="name">Name:</label><input type="text" th:field="*{name}" /></p>
        <span th:errors="*{name}" class="error"></span>
         <p><label for="version">Version:</label><input type="text" th:field="*{version}" /></p>
			        <span th:errors="*{version}" class="error"></span>
			           <p><label for="duration">Duration:</label><input type="text" th:field="*{duration}" /></p>
			        <span th:errors="*{duration}" class="error"></span>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
		    </div>
	    </div>  
	</body>
</html>
