<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
 <tr>
		<th>ID</th>
	    <th>Employee name</th>
		<th>Training name</th>
		
	
	</tr>
	<tr th:each="trainingRecord : ${trainingRecord}">
		<td> <a th:href="@{/trainingrecord/{id}/edit(id=${trainingRecord.id})}" th:text="${trainingRecord.id}"/></td>
		<td th:text="${trainingRecord.employee.name}"/>
		<td th:text="${trainingRecord.training.name}"/>

	</tr>
	
  </table>
  
</body>
</html>