<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
  <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  
 <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/signature.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd", firstDay: 1 });
  } );
  </script>
</head>
<body>
<div class="main">
			<div class="logo"></div>
			<div class="content">
				<h1 th:text="${title}"/>
				<a class="bacl-btn" href="/">&#10149; Back</a>
 <table>
	<tr>
		<th>ID</th>
	    <th>Employee Name</th>
		<th>Training Name</th>
		<th>Version</th>
		<th>Date of Signed </th>
	
		
	</tr>
	<tr th:each="trainingRecord : ${trainingRecord }">
		<td> <a th:href="@{/trainingRecord/{id}/edit(id=${trainingRecord.id})}" th:text="${trainingRecord.id}"/></td>
		<td th:text="${trainingRecord.employee.name}"/>
		<td th:text="${trainingRecord.training.name}"/>
		<td th:text="${trainingRecord.training.version}"/>
		<td th:text="${trainingRecord.day}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/trainingrecord/{id}/edit(id=${trainingRecord.id})}" th:object="${trainingRecord}" method="post">
		  <p><label for="employee">Employee Name:</label>
	        <select th:field="*{employee}">
				<option th:each="employeeFromLoop : ${employees}" th:value="${employeeFromLoop.id}" th:text="${employeeFromLoop.name}"/>
			</select>
		</p>
          <p><label for="training">Training Name:</label>
	        <select th:field="*{training}">
				<option th:each="trainingFromLoop : ${trainings}" th:value="${trainingFromLoop.id}" th:text="${trainingFromLoop.Name}"/>
			</select>
		</p>
        <p><label>Day:</label><input type="text" th:id="datepicker" th:field="*{day}" autocomplete="off" /></p>
			<span th:errors="*{day}" class="error"></span>
		 <p><label>Signature:</label><div id="sketch">
		  <canvas id="paint"></canvas>
		  <input type="hidden" th:id="signatureString" th:field="*{signatureString}" />
		</div>
		</p>
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete"   
   /></p>    
    </form>  
    </div> 
   	  </div>  
	</body>
</html>