<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
      <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  
</head>
<body>
<div class="main">
			<div class="logo"></div>
			<div class="content">
				<h1 th:text="${title}"/>
				<a class="bacl-btn" href="index.html">&#10149; Back</a>
 <table>
	<tr>
		<th>ID</th>
	    <th>Employee Name</th>
		<th>Training Name</th>
		<th>Version</th>
		<th>Date of Signed </th>
		
	
	</tr>
	<tr th:each="trainingRecord : ${trainingRecords}">
		<td> <a th:href="@{/trainingrecord/{id}/edit(id=${trainingRecord.id})}" th:text="${trainingRecord.id}"/></td>
		<td th:text="${trainingRecord.employee.name}"/>
		<td th:text="${trainingRecord.training.name}"/>
		<td th:text="${trainingRecord.training.version}"/>
		<td th:text="${trainingRecord.day}"/>

	</tr>
	
  </table>
  	</div>
		</div>

</body>
</html>