<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
		<th>ID</th>
		<th>Employee name</th>
		<th>name</th>
		<th>version</th>
		<th>duration</th>
	
		
	</tr>
	<tr th:each="trainingRecord : ${trainingRecord}">
		<td> <a th:href="@{/trainingRecord/{id}/edit(id=${trainingRecord.id})}" th:text="${trainingRecord.id}"/></td>
		<td th:text="${trainingRecord.employee.name}"/>
		<td th:text="${trainingRecord.training.Name}"/>
		<td th:text="${trainingRecord.training.version}"/>
		<td th:text="${trainingRecord.training.duration}"/>
		
	</tr> 
  </table>
 	<form action="#" th:action="@{/trainingRecord/{id}/edit(id=${trainingRecord.id})}" th:object="${trainingRecord}" method="post">
 		<p>Employee Name: <input type="text" th:field="*{Name}" /></p>
        <p>Name: <input type="text" th:field="*{Name}" /></p>
        <p>Version: <input type="text" th:field="*{version}" /></p>
        <p>Duration: <input type="text" th:field="*{duration}" /></p>
       
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" /></p>
        
        
        
    </form>  
</body>
</html>