<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
		<th>ID</th>
		<th>Training Name</th>
	
		
	</tr>
	<tr th:each="trainingRecord : ${trainingRecord }">
		<td> <a th:href="@{/trainingRecord/{id}/edit(id=${trainingRecord.id})}" th:text="${trainingRecord.id}"/></td>
		<td th:text="${trainingRecord.employee.Name}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/trainingrecord/{id}/edit(id=${trainingRecord.id})}" th:object="${trainingRecord}" method="post">
      <p>Employee name:
	        <select th:field="*{employee}">
				<option th:each="employeeFromLoop : ${employees}" th:value="${employeeFromLoop.id}" th:text="${employeeFromLoop.Name}"/>
			</select>
		</p>
                <p>Training:
	        <select th:field="*{training}">
				<option th:each="trainingFromLoop : ${trainings}" th:value="${trainingFromLoop.id}" th:text="${trainingFromLoop.Name}"/>
			</select>
		</p>
		
        
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" 
        
   /></p>
          
        
    </form>  
</body>
</html>