<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
		<th>ID</th>
		<th>Training Name</th>
		<th>Version</th>
		<th>Duration</th>
		
		
	</tr>
	<tr th:each="training : ${training}">
		<td> <a th:href="@{/training/{id}/edit(id=${training.id})}" th:text="${training.id}"/></td>
		<td th:text="${training.Name}"/>
		<td th:text="${training.version}"/>
		<td th:text="${training.duration}"/>
	
		
	</tr>
  </table>
  
</body>
</html>