<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/training/add}" th:object="${training}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <span th:errors="*{name}" class="error"></span>
        <p>Version: <input type="text" th:field="*{version}" /></p>
        <span th:errors="*{version}" class="error"></span>
        <p>Duration: <input type="text" th:field="*{duration}" /></p>
        <span th:errors="*{duration}" class="error"></span>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>  
</body>
</html>