<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
  	<link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd", firstDay: 1 });
  } );
  </script>
</head>
<body>
<div class="main">
			<div class="logo"></div>
			<div class="content">
				<h1 th:text="${title}"/>
				<a class="bacl-btn" href="/">&#10149; Back</a>
				<form action="#" th:action="@{/trainingrecord/add}" th:object="${trainingRecord}" method="post" id="answerForm">
          <p><label for="training">Training:</label>
				        <select th:field="*{training}">
							<option th:each="trainingFromLoop : ${trainings}" th:value="${trainingFromLoop.id}" th:text="${trainingFromLoop.name}"/>
						</select>
					</p>
		  <p><label for="employee">employee:</label>
				        <select th:field="*{employee}">
							<option th:each="employeeFromLoop : ${employees}" th:value="${employeeFromLoop.id}" th:text="${employeeFromLoop.name}"/>
						</select>
					</p>
		  <p><label>Day:</label><input type="text" th:id="datepicker" th:field="*{day}" autocomplete="off" /></p>
        <span th:errors="*{day}" class="error"></span>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
      </form>
		    </div>
	    </div>  
	</body>
</html>
