<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" contet="text/html; charset=UTF-8" />
</head>
<body>
 <table>
	<tr>
	    <th>First Name</th>
		<th>Last Name</th>
		<th>Email Address</th>
		<th>Password</th>
		
	</tr>
	<tr th:each="user : ${user}">
		<td> <a th:href="@{/user/{id}/edit(id=${user.id})}" th:text="${user.id}"/></td>
		<td th:text="${user.firstName}"/>
		<td th:text="${user.lastName}"/>
		<td th:text="${user.email}"/>
		<td th:text="${user.password}"/>
	</tr> 
  </table>
  	<form action="#" th:action="@{/user/{id}/edit(id=${user.id})}" th:object="${user}" method="post">
        <p>First Name: <input type="text" th:field="*{firstName}" /></p>
        <span th:errors="*{firstName}" class="error"></span>
         <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
         <span th:errors="*{lastName}" class="error"></span>
          <p>Email Address: <input type="text" th:field="*{email}" /></p>
         <span th:errors="*{email}" class="error"></span>
          <p>Password: <input type="text" th:field="*{password}" /></p>
         <span th:errors="*{password}" class="error"></span>
         
        <p><input type="submit" name="edit" value="Save" /> <input type="submit" name="edit" value="Delete" /></p>
        
        
    </form>  
</body>
</html>